@using WebSample.Commanding
@model WebSample.ReadModel.UserView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <fieldset>
        <legend>User Details</legend>
        User @( Model.Confirmed ? "" : "not" ) confirmed<br>
        First name : @Model.FirstName<br/>
        last name : @Model.LastName<br/>
        Addresses : <br/>
        @foreach (var item in Model.Addresses) {
            @item<br/>
        }
    </fieldset>
    @if (Model.CanAddAddress)
    {
        @Html.Partial("AddAddress", new AddUserAddress{Id = @Model.UserViewId})
    }
    
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
